FUGLE=
FUGLE_DAYTRADE=
FUBON_ID=
FUBON_API_KEY=
FUBON_CERT_B64=
FUBON_CERT_PASS=
HF_REPO_ID=
HF_TOKEN=

WATCHLIST_QUOTES=0050
MARKET_CLOSE_HOUR=13
MARKET_CLOSE_MIN=30
HF_DAILY_SYNC_HOUR=19
HF_DAILY_SYNC_MIN=0
CACHE_PREWARM_MONTHS=3
CACHE_PREWARM_STARTUP_MONTHS=1
CACHE_PREWARM_STARTUP_LIST_DATES=5
CACHE_PREWARM_STARTUP_CHART_DATES=1
CACHE_PREWARM_CHART_MONTHS=1
CACHE_PREWARM_CHART_DATES=0
CACHE_PREWARM_CHART_ROWS=32
CACHE_PREWARM_STOCKS=0050,2330
CACHE_PREWARM_DAY_ATR=0.05
CACHE_PREWARM_VOL5_PR=0.5
CACHE_PREWARM_CHART_PAUSE_SEC=0.2
VWAP_SIGNAL_CACHE_DATES=80
VWAP_BUNDLE_CACHE_DATES=80
VWAP_BUNDLE_DISK_CACHE=1
PATTERN_SCAN_DISK_CACHE=1
PATTERN_DETAIL_DISK_CACHE=1
MARKET_INTRADAY_RETENTION_MONTHS=24
M1_LIVE_RETENTION_FILES=14
SDK_LOG_RETENTION_DAYS=7
APP_LOG_RETENTION_DAYS=14
FUBON_WS_SYMBOLS_PER_CONN=200
FUBON_WS_CONNECTIONS=5
