FUGLE=
FUGLE_DAYTRADE=
FUBON_ID=
FUBON_API_KEY=
FUBON_CERT_B64=
FUBON_CERT_PASS=
HF_REPO_ID=
HF_TOKEN=

WATCHLIST_QUOTES=0050
MARKET_CLOSE_HOUR=13
MARKET_CLOSE_MIN=30
HF_DAILY_SYNC_HOUR=19
HF_DAILY_SYNC_MIN=0
MARKET_INTRADAY_RETENTION_MONTHS=24
M1_LIVE_RETENTION_FILES=14
SDK_LOG_RETENTION_DAYS=7
APP_LOG_RETENTION_DAYS=14
FUBON_WS_SYMBOLS_PER_CONN=200
FUBON_WS_CONNECTIONS=5
