# 忽略編譯與快取檔案
**/__pycache__/**
build/
dist/
*.so
*.pyd
*.o
*.c
*.csv
.DS_Store
.env
.trade_env
*.pfx
*.p12
*.whl
!wheels/*.whl
*.zip
*.egg-info
db
log/
cache/
model/
models/cnn_multiscale.pt
*.json
tmp.txt
*.pyc
src/db_models/__pycache__/peewee_models.cpython-313.pyc
*.png
*.pkl
!models/m1_lgbm.pkl
.env
chart*.html
signal*.txt
*.joblib
*.jsonl
*.history
*.db*
*bak
*.html
*.txt
!requirements.txt
*.log
*.mp3
models/*